In [3]:
# Columns of the .csv file TimeofDay	AirTemp	Humidity	Dewpoint	BarPres	WindSpeed	SolarRad

import pandas as pd

pd.read_csv("WholeYear.csv")

,Unnamed: 0,TimeofDay,AirTemp,Humidity,Dewpoint,BarPres,WindSpeed,SolarRad
0,1,15,2.616,76.6,-1.09,102.84,0.780,3.48
1,2,30,2.133,79.8,-1.00,102.85,0.891,3.49
2,3,45,2.017,79.1,-1.21,102.84,0.902,3.49
3,4,100,1.659,80.2,-1.39,102.84,0.890,3.49
4,5,115,1.618,79.3,-1.56,102.84,0.659,3.48
...,...,...,...,...,...,...,...,...
35131,35132,2300,10.530,84.8,8.10,103.03,0.814,4.05
35132,35133,2315,10.900,85.4,8.56,103.01,1.143,4.05
35133,35134,2330,10.630,86.1,8.43,103.02,0.949,4.09
35134,35135,2345,11.260,84.3,8.70,103.02,0.977,4.08
35135,35136,2400,10.770,84.4,8.25,103.02,0.789,4.02